# This file contains the list of files and folder that don't have to be shown in git status after additions or commits 

# ignore the target folder build by maven from the source code
target/

# ignore the init-daemon database
data/db/virtuoso*

# ignore the hadoop hdfs volumes
data/hadoop

# ignore generated http files if any
data/db/http*

# ignore the following hidden files and folders
.classpath
.project
.settings/
